.backToTop {
 display: none;
 width:35px;
 line-height: 1.2;
 padding: 10px 0;
 background-color: #000;
 color: #fff;
 font-size: 12px;
 text-align: center;
 position: fixed;
 _position: absolute;
 right: 80px;
 bottom: 80px;
 _bottom: "auto";
 cursor: pointer;
 opacity: .6;
 filter: Alpha(opacity=60);
}

.center_content{
	margin-bottom: 20px;
}