@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-09-21 15:11:41
 * @version $Id$
 */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
li {
    list-style: none;
}
#banner{ 
    position: relative; 
    width: 100%; 
    height:350px;
    overflow: hidden; 
}
#banner_list{  
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}
#banner_list img { 
    border: 0px;
    height: 100%;  
    width: 100%;
}
#banner_bg { 
    position: absolute;
    bottom: 0; 
    height: 30px; 
    filter: Alpha(Opacity=30); 
    opacity: 0.3; 
    z-index: 1000; 
    cursor: pointer; 
    width:100%; 
}

#banner_info { 
    position: absolute; 
    bottom: 40px; 
    left: 5px; 
    color: #fff;
    padding: 10px;
    z-index: 1001; 
    background-color:#000;
    opacity: 0.7;
    cursor: pointer;
}

#banner_text { 
    position: absolute; 
    width: 120px; 
    z-index: 1002; 
    right: 3px; 
    bottom: 3px;
}
#banner ul li.on {
    border-radius: 50%; 
    background-color: #fff; 
}

#banner_list a { 
    width: 100%;
    position: absolute; 
}
#banner ul { 
    position: absolute; 
    list-style-type: none; 
    filter: Alpha(Opacity=80); 
    opacity: 0.8; 
    z-index: 1002; 
    margin: 0; 
    padding: 0; 
    bottom: 3px; 
    right: 5px; 
}

#banner ul li { 
    padding: 0px 5px; 
    float: left; 
    display: block; 
    color: #FFF; 
    border-radius:50%;
    background: #C8BFBC; 
    cursor: pointer; 
    border: 1px solid #333; 
}
#p_text{
    background-color: #000;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    padding: 0 8px;
    font-family: Microsoft Yahei;
    position: absolute;
    bottom: 100px;
    display: none;
}
.banner{
    width: 100%;
    height: 450px;
    position: relative;
}
.banner-btn{
    width: 100%;
    height: 100%;
}
.banner-btn .focus{
    position: absolute;
    z-index: 10;
    bottom: 5px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.focus span{
    width: 10px;
    height: 10px;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0);
}
.focus .active{
    background-color: #fff;
}
.switch div{
    width: 70px;
    height: 110px;
    transition: all 1s ease;
    position: absolute;
    z-index: 10;
    margin: auto;
    top: 0;
    opacity: 0;
    bottom: 0;
    cursor: pointer;
}
.switch .left{
    left: 0;
}
.switch > div img {
    width: 60px;
    height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    bottom: 0;
}
.switch .right{
    right: 0;
}
.imglist{
    width: 100%;
    overflow: hidden;
}
.imglist ul{
    list-style: none;
    width: 100%;
}
.imglist ul li{
    float: left;
    position: absolute;
    display: none;
    width: 100%;
    background: #888;
    overflow: hidden;
}
.imglist, .imglist ul li a img {
    width: 100%;
    height: 450px;
    cursor: pointer;
    display: block;
   /* margin: 0 auto;*/
}
/*头部*/
.header{
    width: 100%;
    height: 155px;
}
.header-title{
    padding-top: 20px;
}
.header-title .logo{
    float: left;
    width: 70px;
    height: 70px;
    margin-left: 40px;
}
.header-title .logo img{
    width: 100%;
    height: 100%;
}
.header-title .logo-title{
    padding-top: 10px;
}
.header-title .logo-title img{
    float: left;
}
.header-title .logo-title p{
    display: block;
    float: left;
    color: #1A83C5;
    font-weight: bold;
    font-size: 30px;
    padding-top: 5px;
}
.header-title .search{
    top: 39px;
    height: 35px;
    position: absolute;
    float: left;
    right: 110px;
}
.header-title .search input{
    padding: 7px;
    border-radius: 2px;
    color: #666;
    padding-right: 35px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    border: 1px solid #999;
    box-shadow: 0 1px 2px rgba(0,0,0,.25);
}
.header-title .search .submit{
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    right: 1px;
    top: 4px;
    color: #777;
    line-height: 30px;
    font-size: 16px;
}
.header .nav{
    height: 45px;
    float: left;
    color: #fff;
    background-color: #1A83C5;
    width: 100%;
    margin-top: 20px;
}
.header .nav ul li{
    list-style: none;
    float: left;
    line-height: 45px;
    margin-left: 7px;
    position: relative;
}
.header .nav ul li .active{
    background: #337ab0;
}
.header .nav ul li a{
    color:#fff;
    display:block;
    font-size: 16px;
    padding:0px 35px;
    text-decoration:none;
}
.header .nav ul li:hover a{
    /*color: #000;*/
}
.header .nav .sub-nav {
    top: 45px;
    background-color: #1A83C5;
    z-index: 99;
    display: none;
    position: absolute;
    width: 100%;
}
.header .nav .sub-nav a {
    color: #fff!important;
    font-size: 16px;
    display: block;
    text-decoration: none;
    border: none!important;
    line-height: 1.5;
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
}
.header .nav .sub-nav a:hover{
    background: #337ab0;
}
/*底部*/
.footer{
    width: 100%;
    height: 170px;
    background-color: #1A83C5;
}
.footer-box{    
    padding-top: 30px;
    height: 170px;
}
.footer-link ul li{
    float: left;
    line-height: 30px;
    position: relative;
}
.footer-link ul li a {
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 0px 30px;
    text-decoration: none;
}
.footer-link ul li a:hover{
    text-decoration: underline;
}
.footer-logo{
    margin-top: 25px;
}
.footer-logo img{
    width: 80px;
    height: 80px;
    float: left;
}
.footer-logo p{
    display: block;
    float: left;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 20px;
    letter-spacing:2px;
}
.about ul li{
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 14px;
}
.footer-copy p{
    text-align: center;
    background: #333;
    color: #bababa;
    font-size: 12px;
    min-height: 30px;
    line-height: 30px;
    margin:0;
}
.footer-copy a{
    color: #fff;
}
/**/
.photo_box{
    margin-bottom: 30px;
    width: 100%;
    height: 300px;
}
.photo_box img{
    height: 100%;
    width: 100%;
}
.title_box{
    position: relative;
}
.title_box img{
    width: 100%;
}
.title_box h2{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-90%);
}
.title_list{
    width: 100%;
}
.title_list ul li{
    margin:5px;
    padding:5px;
    border-bottom: 1px solid #999;
}
.title_list ul li p{
    font-size: 16px;
}
.title_list ul li span{
    float: right;
}
.biref>ol{
    border-radius: 0;
    background: #fff;
    font-size: 16px;
    border-bottom: 1px solid #999;
}
.right_content >h3{
    text-align: center;
}

