@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-09-21 15:11:41
 * @version $Id$
 */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
li {
    list-style: none;
}
html,body{
    font-family:"Microsoft YaHei", "SimHei", "SimSun";
}
/*头部*/
.header{
    width: 100%;
    height: 155px;
}
.header-title{
    padding-top: 20px;
}
.header-title .logo{
    float: left;
    margin-left: 25px;
}
.header-title .logo img{
    height: 100%;
    width: 100%;
}
.header-title .logo-title{
    padding-top: 10px;
}
.header-title .logo-title p{
    display: block;
    float: left;
    color: #06325F;
    font-size: 30px;
    padding-top: 5px;
    font-weight: bold;
    font-family:"Microsoft YaHei", "SimHei", "SimSun";
}
.header-title .search{
    top: 39px;
    height: 35px;
    position: absolute;
    float: left;
    right: 110px;
}
.header-title .search input{
    padding: 7px;
    border-radius: 2px;
    color: #666;
    padding-right: 35px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    border: 1px solid #999;
    box-shadow: 0 1px 2px rgba(0,0,0,.25);
}
.header-title .search .submit{
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    right: 1px;
    top: 1px;
    color: #777;
    line-height: 30px;
    font-size: 16px;
}
.header .nav{
    float: left;
    color: #fff;
    background-color: #06325f;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
.header .nav ul{
    display: inline-block;
    margin-bottom: -5px;
}
.header .nav ul li{
    list-style: none;
    float: left;
    line-height: 45px;
    position: relative;
    padding: 0 10px;
}
.header .nav ul li .active{
    background: #337ab0;
}
.header .nav ul li a{
    color:#fff;
    display:block;
    font-size: 16px;
    text-decoration:none;
    width: 120px;
}
.header .nav ul li:hover a{
   color: #EED5D2;
}
.header .nav .sub-nav {
    top: 45px;
    background-color: #06325f;
    z-index: 99;
    display: none;
    position: absolute;
    width: 100%;
}
.header .nav .sub-nav a {
    color: #fff!important;
    font-size: 16px;
    display: block;
    text-decoration: none;
    border: none!important;
    line-height: 1.5;
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
}
.header .nav .sub-nav a:hover{
    background: #337ab0;
}
/*底部*/
.footer{
    width: 100%;
    min-height: 140px;
    background-color: #06325F;
}
.footer-box{    
    padding-top: 20px;    
    text-align: center;    
    min-height: 140px;
}
.footer-link{
    min-height: 30px;
    text-align: center;
}
.footer-box ul{
    display: inline-block;
    margin-bottom: 0px;
}
.footer-link ul li{
    float: left;
    line-height: 30px;
    position: relative;
}
.footer-link ul li a {
    color: #fff;
    display: block;
    font-size: 16px;
    text-decoration: none;
    padding: 0px 20px;
}
.footer-link ul li a:hover{
    text-decoration: underline;
}
.about{
    margin-top: 20px;
}
.about p{
    color: #fff;
}
.about ul li{
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 14px;
    float: left;
    margin-right: 15px;
}
.footer-copy p{
    text-align: center;
    background: #333;
    color: #bababa;
    font-size: 12px;
    min-height: 30px;
    line-height: 30px;
    margin:0;
}
.footer-copy a{
    color: #fff;
}
/*返回顶部*/
.backToTop {
    display: none;
    width:35px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 30px;
    bottom: 30px;
    _bottom: "auto";
    cursor: pointer;
    opacity: .6;
    filter: Alpha(opacity=60);
    line-height: 1.2;
    padding: 5px 0;;;
}
.center_content{
    margin-bottom: 20px;
}
/*媒体查询*/
@media screen and (max-width: 1200px) and (min-width: 1024px) {
    .footer-logo img{
        width: 60px;
        height: 60px;
    }
    .footer-logo p{
        font-size: 16px;
        padding-top: 20px;
    }
    .header .nav ul li{
        padding: 0px;
    }
    .header .nav ul li a{
        padding: 0 20px;
        display: inline;
    }
}
@media screen and (max-width: 1000px) {
    .search{
        display: none;
    }
    .footer-link ul li a{
        padding: 0 15px;
    }
   
}
@media screen and (max-width: 1000px) and (min-width: 990px) {
    .header .nav ul li a{
        padding: 0 15px;
        font-size: 16px;
    }
    .header .nav .sub-nav a{
        font-size: 12px;
    }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
    .footer-logo img{
        margin-left: 65px;
    }
    .footer-logo p{
        font-size: 16px;
    }
   
}
@media screen and (max-width: 990px){
     .header .nav ul li a{
        padding: 0 15px;
        font-size: 12px;
    }
    .header .nav .sub-nav a{
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {
    .logo-title img{
        display: none;
    }
    .logo-title p{
        margin-left:10px;
        font-size: 26px;
    }
    .header-title .logo-title p{
        font-size: 28px;
    }
}